@font-face{
    font-family: '8bit';
    src: url('../fonts/8BIT.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-image: url("../media/fondo.jpg");
    background-size:100vw 100vh;
    overflow: hidden;
}

ul{
    list-style: none;
    display: flex;
    position: absolute;
}

li img{
    width: 125px;
}


.leftside{
    width: 50%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
}

.rightside{
    width: 50%;
    height: 100vh;
    /* background-color: blue; */
    display: flex;
}

.player1{
    position: absolute;
    top: 45vh;
    left: 10vw;
    width: 30vw;
    margin: 0;
}

.player2{
    position: absolute;
    top: 45vh;
    right: 10vw;
    width: 30vw;
    transform: rotatey(180deg)
}

.button{
    width: 10vw;
    height: 5vw;
    margin-left: 2vw;
    position: relative;
    top: 18vw;
    left: 10vw;
    z-index: 200;
    border-radius: 25%;
    border: solid 1px;
    opacity: 100%;
    cursor: pointer;
    font-size: 20px;
    font-family:'8bit';
}

.life2{
    right: 0.5vw;
}